.searchbar {
    border: 1px solid #000;
    width: calc(100% - 40px);
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin: auto;
}

.searchbar-input {
    padding: 10px 0 10px 5px;
    display: flex;
    flex: 1;
}

.searchbar-input::placeholder {
    color: #ccc;
}

.search-button {
    width: 40px;
    background-color: transparent;
    color: #ccc;
}

.search-button i {
    color: #000;
}
